#calculator {
    display: flex;
    margin: 5rem auto;
    background: rgb(198,196,196);
    background: linear-gradient(133deg, rgba(198,196,196,1) 0%, rgba(116,116,116,1) 63%);
    height: 27rem;
    width: 23rem;
    position: relative;
    border-radius: 14px;
}